body {
  color: #13317f;
  font-family: "Noto Serif JP", "shippori mincho", serif;
  font-weight: 400;
  background: linear-gradient(to right, #a2cde8, #fbfeff);
  line-height: 1;
}

a {
  color: #13317f;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: 0.8;
}

img {
  vertical-align: bottom;
}

li {
  list-style: none;
}

.br_sp {
  display: none;
}

.text_orange {
  color: #ee7f00;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.mv {
  width: 1000px;
  margin: 0 auto;
  background: url(images/pc_mv.jpg) no-repeat;
  background-size: cover;
  padding: 68px 0 44px;
}

.mv__subtitle {
  font-size: 40px;
  font-weight: 900; /* ボールド */
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1em;
  margin-left: 70px;
}

.mv__title {
  font-size: 60px;
  font-weight: 900; /* ボールド */
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
  letter-spacing: 0.085em;
  margin: 10px 0 0 68px;
}

.mv__titleSpan {
  font-size: 40px;
}

.mv__pointBox {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  background: rgba(13, 38, 94, 0.7);
  margin-top: 32px;
  padding-left: 135px;
}

.mv__pointInbox {
  width: 220px;
  height: 120px;
  background: linear-gradient(130deg, #fff 0%, #fff 50%, #dbeefb 100%);
  margin: 19px 0 20px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.47;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 32px 0 0 70px;
}

.button__link {
  width: 320px;
  height: 75px;
  border-radius: 10px;
  color: #fff;
  background: #ee9200;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 4px 9px;
  padding-left: 4px;
}

/*service*/

.service {
  background: url(images/pc_imgBg.jpg) no-repeat;
  background-size: cover;
  padding: 33px 0 31px;
  text-align: center;
}

.service__content {
  padding-left: 17px;
}

.service__think,
.service__wanna {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.45;
}

.service__wanna {
  margin-top: 12px;
}
.service__message {
  font-size: 30px;
  font-weight: 700;
  margin-top: 36px;
  letter-spacing: 0.1em;
  line-height: 1.53;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

/*worry*/

.worry {
  background: linear-gradient(to bottom, #f0eff0 0%, #fff 30%, #fff 100%);
  text-align: center;
  padding: 58px 0 23px;
  position: relative;
}

.worry__title {
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-left: 20px;
}

.worry__list {
  margin: 45px 0 0 34px;
  text-align: center;
}

.worry__listText {
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-top: 33px;
}

/*recommend*/

.recommend {
  background: #13317f;
  color: #fff;
  text-align: center;
  padding: 126px 0 36px;
  position: relative;
}

.recommend::before {
  content: "";
  position: absolute;
  height: 98px;
  width: 100%;
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%); /* ココ */
  background: #fff; /* デモは赤色の部分 */
  left: 0;
  top: -1px; /* topにピッタリくっつけたいので0にする */
}

.recommend__message {
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  margin-left: 22px;
}

/*compare */

.compare {
  background: url(images/pc_imgBg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  padding: 58px 0 96px;
}

.compare__title {
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-left: 30px;
}

.compare__content {
  margin: 60px 0 0 13px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.compare__other,
.compare__lawyer {
  width: 410px;
  height: 550px;
  border-radius: 10px;
  padding: 42px 0 0 4px;
  box-shadow: 2px 2px 5px rgba(19, 49, 127, 0.7);
}

.compare__other {
  background: linear-gradient(130deg, #fff 30%, #d5d5d5 100%);
}

.compare__lawyer {
  background: linear-gradient(130deg, #fff 30%, #dbeefb 100%);
}

.compare__inboxTitle {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.38;
}

.compare__otherList,
.compare__lawyerList {
  margin: 49px 0 0 47px;
}

.compare__otherText,
.compare__lawyerText {
  font-size: 24px;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.42;
  position: relative;
  padding-left: 38px;
}

.compare__otherText {
  margin-top: 39px;
}

.compare__otherText::before {
  content: "";
  background: url(images/pc_xMark.png) no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 7px;
  left: 0;
}

.compare__lawyerText {
  margin-top: 38px;
}

.compare__lawyerText::before {
  content: "";
  background: url(images/pc_checkMark.png) no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 7px;
  left: 0;
}

/* cta */

.cta {
  background: #fff;
  text-align: center;
  padding: 79px 0 81px;
}

.cta__message {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.55;
  margin-left: 10px;
}

.cta__answer {
  font-size: 24px;
  letter-spacing: 0.1em;
  margin: 36px 0 0 22px;
}

.cta__buttonBox {
  margin: 64px 0 0 253px;
}

/*price*/

.price {
  background: linear-gradient(to right, #e4f3ff, #fff);
  text-align: center;
  padding: 54px 0 88px;
}

.price__title {
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-left: 18px;
}

.price__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  margin: 63px 0 0 15px;
}

.price__plan {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.15;
}

.price__value {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.price__en {
  font-size: 30px;
  font-weight: 600;
  margin-left: 2px;
}

.price__nocharhes {
  width: 420px;
  height: 40px;
  background: linear-gradient(to right, #13317f 0%, #113aa3 50%, #13317f 100%);
  border-radius: 10px;
  color: #fff;
  margin: 16px 0 0 290px;
  font-size: 22px;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.price__support {
  font-size: 20px;
  margin: 51px 0 0 19px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.price__alert {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 30px 0 0 17px;
}

/*process*/

.process {
  background: linear-gradient(to right, #13317f, #274db0);
  padding: 57px 0 102px;
  text-align: center;
}

.process__title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-left: 30px;
}

.process__stepList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 75px 0 0 13px;
}

.process__stepBox {
  width: 260px;
}

.process__stepTitle {
  background: linear-gradient(to right, #a7d7f8, #e2f3ff);
  height: 60px;
  border-radius: 10px 0 0 0;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process__stepBox:last-child .process__stepTitle {
  border-radius: 10px 10px 0 0;
}

.process__stepText {
  background: #fff;
  height: 170px;
  border-radius: 0 0 10px 10px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.33;
  padding: 22px 0 0 21px;
}

.process__titleDecoration {
  position: relative;
}
.process__titleDecoration::before {
  content: "";
  width: 30px;
  height: 60px;
  clip-path: polygon(100% 50%, 0% 100%, 0% 0%); /* ココ */
  background: #e2f3ff;
  position: absolute;
  top: 0;
  right: -30px;
}

/*example*/

.example {
  background: linear-gradient(to right, #e4f3ff 0%, #f7fbfe 40%);
  text-align: center;
  padding: 57px 0 121px;
}

.example__title {
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-left: 30px;
}

.example__caseBox {
  width: 850px;
  text-align: left;
  margin: 69px 0 0 75px;
}

.example__numberBox {
  color: #fff;
  background: linear-gradient(to right, #13317f, #274daf);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
}

.example__numberBox2 {
  margin-top: 81px;
}

.example__number {
  font-size: 30px;
  letter-spacing: 0.08em;
}
.example__numberSpan {
  font-family: "Shippori Mincho";
  font-size: 50px;
  margin: 0 0 10px 5px;
}

.example__caseTitle {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 38px 0 0 22px;
}

.example__caseContent {
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  margin: 24px 0 0 22px;
}

.example__result {
  background: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 41px 0 40px 23px;
  margin-top: 34px;
}

.example__resultText {
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 1.54;
}

/*faq*/

.faq {
  background: #fff;
  padding: 67px 0 137px;
  text-align: center;
}

.faq__title {
  font-size: 36px;
  letter-spacing: 0.1em;
  margin-left: 14px;
}

.faq__listBox {
  width: 800px;
  text-align: left;
  margin: 66px 0 0 99px;
}

.faq__question {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-weight: 600;
  margin: 20px 0 0 6px;
}

.faq__question span {
  font-size: 30px;
  margin-right: 7px;
}

.faq__answerBox {
  background: #edf6ff;
  border-radius: 10px;
  padding: 15px 0 14px 46px;
  margin-top: 13px;
}

.faq__answer {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.1em;
}

.faq__answerBoxPadding {
  padding: 15px 0 18px 46px;
}

.faq__answerSpacing {
  letter-spacing: 0;
}

/*contact*/

.contact {
  background: linear-gradient(to right, #13317f, #274db0);
  text-align: center;
  padding: 44px 0 81px;
}

.contact__message {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.96;
  letter-spacing: 0.1em;
  color: #fff;
  margin-left: 56px;
}

.contact__buttonBox {
  margin: 57px 0 0 233px;
}

.contact__buttonLink {
  display: flex;
  flex-direction: column;
}

.button__number {
  font-size: 36px;
  letter-spacing: 0.07em;
  line-height: 0.8;
  margin: 8px 0 0 2px;
}

.button__reception {
  font-size: 16px;
  letter-spacing: 0.05em;
  margin: 1px 0 0 5px;
}

.button__time {
  font-size: 18px;
  margin-left: 7px;
  letter-spacing: 0;
}

.contact__formArea {
  background: #fff;
  border-radius: 10px;
  width: 800px;
  margin: 38px 0 0 99px;
  padding: 39px 0 45px;
}

.contact__formTitle {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.contact__form {
  width: 552px;
  margin: 50px auto 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__formItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.contact__label {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.contact__area {
  border: solid 1px #13317f;
  width: 400px;
  height: 35px;
}

.contact__textArea {
  border: solid 1px #13317f;

  width: 400px;
  height: 190px;
}

.contact__labelEmail {
  letter-spacing: 0;
}

.contact__formItemMessage {
  align-items: flex-start;
}

.contact__buttonSubmit {
  font-size: 28px;
  letter-spacing: 0.05em;
  margin: 32px 0 0 138px;
  padding: 0px 0 0 4px;
}

/*footer*/

.footer {
  background: url(images/pc_imgBg.jpg) no-repeat;
  background-size: cover;
  padding: 40px 0 40px;
}

.footer__content {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.footer__companyBox {
  background: linear-gradient(to right, #dbeefb 0%, #fff 50%, #fff 50%);
  border-radius: 10px;
  width: 420px;
  height: 170px;
  margin-left: 115px;
  padding: 28px 0 0;
}

.footer__companyName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
  margin-left: 37px;
}

.footer__corporation {
  font-size: 18px;
  letter-spacing: 0.1em;
}

.footer__company {
  font-size: 30px;
  letter-spacing: 0.1em;
}

.footer__companyNumber {
  font-family: "Shippori Mincho";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.11em;
  width: fit-content;
  margin: 19px auto 0;
}

.footer__reception {
  font-size: 18px;
  letter-spacing: 0.05em;
  margin: 6px 0 0 109px;
}

.footer__time {
  font-size: 20px;
  letter-spacing: 0;
  margin-left: 14px;
}

.footer__linkList {
  margin-top: 3px;
}

.footer__linkList li {
  margin-top: 14px;
}

.footer__link {
  font-size: 16px;
  letter-spacing: 0.1em;
  display: inline-block;
}

@media (max-width: 768px) {
  body {
    color: #13317f;
    font-family: "Noto Serif JP", "shippori mincho", serif;
    font-weight: 600;
    background: linear-gradient(to right, #a2cde8, #fbfeff);
    line-height: 1;
  }

  html {
    font-size: calc(100vw * 16 / 375);
  }

  .br_sp {
    display: initial;
  }

  .br_pc {
    display: none;
  }

  .container {
    width: calc(100vw / 375 * 295);
  }

  .mv {
    width: auto;
    background: url(images/sp_mv.jpg) no-repeat;
    background-size: cover;
    padding: 8vw 0 6.2vw;
  }

  .mv__titleBox {
    background: rgba(255, 255, 255, 0.5);
    width: calc(100vw / 375 * 255);
    margin-left: 5vw;
    padding: 7vw 0 8vw;
  }

  .mv__subtitle {
    font-size: 1.25rem;
    margin-left: 5.5vw;
  }

  .mv__title {
    font-size: 2.375rem;
    line-height: 1.2;
    margin: 1vw 0 0 5.5vw;
  }

  .mv__titleSpan {
    font-size: 1.5625rem;
  }

  .mv__pointBox {
    flex-direction: column;
    padding: 6.3vw 0 8.5vw;
    margin-top: 12.2vw;
    gap: calc(100vw / 375 * 15);
  }

  .mv__pointInbox {
    width: calc(100vw / 375 * 295);
    height: calc(100vw / 375 * 55);
    font-size: 1.375rem;
    margin: 0 auto;
  }

  .buttonBox {
    margin: 4.2vw 0 0 11.7vw;
  }

  .button__image {
    width: calc(100vw / 375 * 70);
  }

  .button__link {
    width: calc(100vw / 375 * 200);
    height: calc(100vw / 375 * 45);
    font-size: 1.125rem;
    margin: 0 0 1vw 1.7vw;
  }

  .button__text {
    font-size: 1.125rem;
  }

  /*service*/
  .service {
    padding: 15vw 0 15.4vw;
  }

  .service__content {
    padding-left: 0.7vw;
  }
  .service__think,
  .service__wanna {
    font-size: 1rem;
  }

  .service__wanna {
    margin-top: 3.5vw;
  }

  .service__message {
    font-size: 1.25rem;
    line-height: 1.74;
    margin: 9.2vw 0 0 0.5vw;
  }

  /*worry*/

  .worry {
    padding: 9.2vw 0 20.6vw;
  }

  .worry__title {
    font-size: 1.375rem;
    line-height: 1.37;
    margin-left: 1vw;
  }

  .worry__list {
    margin: 8.5vw 0 0 0.8vw;
  }

  .worry__listText {
    font-size: 0.875rem;
    line-height: 1.43;
    margin-top: 7.77vw;
  }

  /*recommend*/

  .recommend {
    padding: 12.5vw 0 17vw;
  }

  .recommend::before {
    height: calc(100vw / 375 * 105);
    clip-path: polygon(50% 100%, 0% 100%, 0% 0%);
    background: #13317f;
    top: -28vw;
  }

  .recommend::after {
    content: "";
    position: absolute;
    height: calc(100vw / 375 * 105);
    width: 100%;
    clip-path: polygon(50% 100%, 100% 100%, 100% 0%);
    background: #13317f;
    right: 0;
    top: -28vw;
  }

  .recommend__message {
    font-size: 1.125rem;
    line-height: 1.66;
    letter-spacing: 0.07em;
    margin-left: 1vw;
  }

  /*compare*/

  .compare {
    padding: 13vw 0 24.2vw;
  }

  .compare__title {
    font-size: 1.375rem;
    margin-left: 1vw;
  }

  .compare__content {
    flex-direction: column;
    margin: 12.8vw 0 0 10.5vw;
    gap: calc(100vw / 375 * 50);
  }

  .compare__other,
  .compare__lawyer {
    width: calc(100vw / 375 * 295);
    height: calc(100vw / 375 * 320);
    padding: 7.3vw 0 0 1.1vw;
  }

  .compare__inboxTitle {
    font-size: 1.125rem;
  }

  .compare__otherList,
  .compare__lawyerList {
    margin: 8vw 0 0 9.7vw;
  }

  .compare__otherText,
  .compare__lawyerText {
    font-size: 1rem;
    margin-top: 3.8vw;
    padding-left: 7.2vw;
  }

  .compare__otherText::before,
  .compare__lawyerText::before {
    width: calc(100vw / 375 * 16);
    height: calc(100vw / 375 * 16);
    background-size: calc(100vw / 375 * 16) calc(100vw / 375 * 16);
    top: 13%;
    left: 0;
  }

  /*cta*/

  .cta {
    padding: 11.5vw 0 18.6vw;
  }

  .cta__message {
    font-size: 1.375rem;
    margin-left: 1vw;
  }

  .cta__answer {
    font-size: 0.875rem;
    line-height: 1.42;
    margin: 9.5vw 0 0;
  }

  .cta__buttonBox {
    margin: 12.7vw 0 0 2vw;
  }

  /*price*/

  .price {
    padding: 13vw 0 16.2vw;
  }
  .price__title {
    font-size: 1.375rem;
    margin-left: 1vw;
  }

  .price__item {
    flex-direction: column;
    align-items: center;
    gap: 3.5vw;
    margin: 12.8vw 0 0;
  }

  .price__plan {
    font-size: 1rem;
  }

  .price__value {
    font-size: 1.875rem;
  }

  .price__en {
    font-size: 0.875rem;
  }

  .price__nocharhes {
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    width: calc(100vw / 375 * 180);
    height: calc(100vw / 375 * 25);
    border-radius: calc(100vw / 375 * 7.5);
    margin: 6vw 0 0 15.5vw;
    padding-left: 0.5vw;
  }

  .price__support {
    font-size: 0.75rem;
    line-height: 1.6;
    margin: 10.8vw 0 0;
  }

  .price__alert {
    font-size: 0.625rem;
    margin: 6vw 0 0;
  }

  /*process*/

  .process {
    padding: 12.8vw 0 18.5vw;
  }

  .process__title {
    font-size: 1.375rem;
    margin-left: 0;
  }

  .process__stepList {
    flex-direction: column;
    margin: 13.5vw 0 0;
  }
  .process__stepBox {
    width: calc(100vw / 375 * 230);
  }
  .process__stepTitle {
    font-size: 1.125rem;
    height: calc(100vw / 375 * 40);
    border-radius: 10px 10px 0 0;
  }

  .process__titleDecoration::before {
    display: none;
  }

  .process__stepText {
    font-size: 0.875rem;
    line-height: 1.58;
    letter-spacing: 0.045em;
    height: calc(100vw / 375 * 120);
    padding: 4vw 0 0 6.7vw;
    position: relative;
  }

  .process__stepText::before {
    content: "";
    width: calc(100vw / 375 * 60);
    height: calc(100vw / 375 * 20);
    background: #fff;
    clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
    position: absolute;
    left: 50%;
    bottom: -5vw;
    transform: translateX(-50%);
  }

  .process__stepBox:last-child .process__stepText::before {
    display: none;
  }

  /*example*/

  .example {
    padding: 13vw 0 23.5vw;
  }

  .example__title {
    font-size: 1.375rem;
    margin-left: 1vw;
  }

  .example__caseBox {
    width: calc(100vw / 375 * 295);
    margin: 13vw 0 0;
  }

  .example__numberBox {
    height: calc(100vw / 375 * 30);
    padding-left: 2.5vw;
  }

  .example__numberBox2 {
    margin-top: 18vw;
  }

  .example__number {
    font-size: 0.875rem;
  }

  .example__numberSpan {
    font-size: 1.25rem;
    margin: 0 0 0 1vw;
  }

  .example__caseTitle {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.28;
    margin: 4.8vw 0 0;
  }

  .example__caseContent {
    font-size: 0.875rem;
    line-height: 1.45;
    margin: 3.2vw 3vw 0 0;
  }

  .example__result {
    margin-top: 4vw;
    padding: 5vw 0 4.8vw 5vw;
  }

  .example__resultText {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.4;
  }

  /*faq*/

  .faq {
    padding: 13vw 0 17vw;
  }

  .faq__title {
    font-size: 1.375rem;
    margin-left: 4.5vw;
  }

  .faq__listBox {
    width: calc(100vw / 375 * 295);
    margin: 12.2vw 0 0;
  }

  .faq__question {
    font-size: 1.125rem;
    line-height: 1.3;
    position: relative;
    padding-left: 8vw;
    margin: 9vw 0 0 0;
  }

  .faq__question span {
    font-size: 1.875rem;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .faq__question:nth-of-type(2) span {
    top: -1.5vw;
  }

  .faq__answerBox {
    padding: 3vw 2.5vw 3vw 4vw;
    margin-top: 3.4vw;
  }

  .faq__answerBox:nth-of-type(2) {
    margin-top: 5vw;
  }

  .faq__answer {
    font-size: 0.875rem;
  }

  /*contact*/

  .contact {
    padding: 13vw 0 14vw;
  }

  .contact__message {
    font-size: 1.375rem;
    line-height: 1.75;
    margin-left: 2.5vw;
    letter-spacing: 0.05em;
  }

  .contact__buttonBox {
    margin: 11vw 0 0 1.5vw;
  }

  .button__number {
    font-size: 1.375rem;
    margin: 0.5vw 1vw 0 0;
  }

  .button__reception {
    font-size: 0.75rem;
    line-height: 1;
    margin: 1vw 1vw 0 0;
  }

  .button__time {
    font-size: 0.875rem;
  }

  .contact__formArea {
    width: calc(100vw / 375 * 295);
    margin: 10.2vw 0 0;
    padding: 8vw 0 12.3vw;
  }

  .contact__formItem {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(100vw / 375 * 10);
  }

  .contact__label {
    font-size: 0.875rem;
  }

  .contact__formTitle {
    font-size: 1.125rem;
  }

  .contact__form {
    width: calc(100vw / 375 * 250);
    gap: calc(100vw / 375 * 13.5);
    margin: 9.6vw auto 0;
  }

  .contact__area {
    width: calc(100vw / 375 * 250);
    height: calc(100vw / 375 * 25);
  }

  .contact__textArea {
    width: calc(100vw / 375 * 250);
    height: calc(100vw / 375 * 120);
  }

  .contact__buttonSubmit {
    font-size: 1.125rem;
    margin: 5vw 0 0 6.5vw;
  }

  /*footer*/

  .footer {
    padding: 5.2vw 0 2.5vw;
  }
  .footer__content {
    flex-direction: column;
    gap: calc(100vw / 375 * 22);
  }

  .footer__companyBox {
    width: calc(100vw / 375 * 250);
    height: calc(100vw / 375 * 80);
    margin: 0 auto;
    padding: 0;
  }

  .footer__companyName {
    gap: calc(100vw / 375 * 10);
    padding: 2.6vw 0 0 5.2vw;
    margin-left: 0;
  }

  .footer__companyNumber {
    font-size: 1.5rem;
    margin: 1.5vw 0 0 12vw;
  }
  .footer__reception {
    font-size: 0.625rem;
    margin: 0.5vw 0 0 19vw;
  }

  .footer__time {
    font-size: 0.75rem;
    margin-left: 2.5vw;
  }

  .footer__corporation {
    font-size: 0.75rem;
  }

  .footer__company {
    font-size: 1.125rem;
  }

  .footer__linkList {
    width: calc(100vw / 375 * 265);
    height: calc(100vw / 375 * 70);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: calc(100vw / 375 * 18);
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .footer__linkList li {
    margin: 0 0 1vw 0;
  }

  .footer__link {
    font-size: 0.75rem;
  }
}
